<!DOCTYPE HTML>
<html>
<body>
<div>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="name"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">login</button>
    </form>
</div>
<a href="/sign_up">sign_up</a>
</body>
</html>