<!DOCTYPE HTML>
<html>
<body>
<div>
    <form action="chat" method="get">
        <input type="text" name="name" placeholder="name"/>
        <button type="submit">chat</button>
    </form>
</div>
</body>
</html>